
body{
  font-family: Monospace;
}

input[type=range] {
    -webkit-appearance: none;
    background-color: silver;
    width: 100%;
    height:20px;
}

input[type="range"]::-webkit-slider-thumb {
     -webkit-appearance: none;
    background-color: black;
    opacity: 0.5;
    width: 10px;
    height: 26px;
}

text.red {
  color: red;
}

text.green {
  color: green;
}

text.orange {
  color: orange;
}

text.blue {
  color: blue;
}

#tooltip {
  background: cornsilk;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  z-index: 2000;

  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;

  -ms-user-select: none;
  user-select: none;
}

#terminal {
  outline: none;
}
